@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
    margin: 0px;
    padding: 0px 0px;
    scroll-behavior: smooth;
}
.no-margin{
    padding: 0px;
}
body{
    margin:0px;
    font-family: 'mukta', cursive;   
    font-size: 1.2rem; 
    padding: 0px 0px;
}
:root{
    --primary-color:#27563d;
    --primary-light-color: #b0e0c8;
    --dark-grey:#B0B0B0;
    --light-grey:#F3F4F6;
}
a{
    color: white;
    text-decoration: none;
}
.imp{
    color:var(--primary-color);
}
.list-head{
    margin:0rem;
    padding:0rem;
    color:var(--primary-color);
    font-size: 1.3 rem;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center{
    max-width:600px;
    margin: 0.5rem auto 0 auto;
    text-align: justify;
}
.link{
    text-decoration: none;
    padding : 0.5rem 1rem;
    border-radius: 0.5rem;
}
.primary-link{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    padding : 0.5rem;
    margin: 1rem;
    color :white;
    text-decoration: none;
     margin-bottom:2rem;

}

.list-non-bullet{
    list-style: none;
}
.secondary-link{
    margin : 1rem;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    padding : 0.5rem;
    text-decoration: none;
    margin-bottom:2rem;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;


}
/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: white; 
    padding: 1rem;
}

.navigation .link{
    color: white;
}
.nav-pills{
    text-align: right;
}
.nav-brand{
    font-weight: bold;
    font-size: 1.5rem;
}
.active{
    font-weight: bold;
    font-size: large;
    /* text-decoration: underline; */
}
/* Header */
.hero{
    padding: 2rem;
    text-align: center;
}
.hero-img{
    width: 100%;
    max-width: 24rem;
    margin: auto;
    
}
.hero-heading{
    color: var(--dark-grey);
    padding-top: 1rem;
    /* background-color: yellow */
}

/* section */
.section{
    padding: 2rem;
    font-size: 1.2rem;
}
.section h1{
    text-align: center;
    padding: 2 rem;
}

/* footer */
footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}
.footer-header{
    font-weight: bold;
    font-size: large;
}
footer .link{
    color: white;
}
footer ul{
   padding-inline-start: 0px;
}
.social-img{
    height: 50px;
    width: 50px;
}
.btn{
    border: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
    width: 7rem;
    font-size: 1.1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.btn:hover{
    background-color: var(--primary-color);
    color: white;
}

.btnMain{
    border: 0.2rem solid var(--primary-color);
    color: var(--primary-color);
    width: 7rem;
    font-size: 1.1rem;
    margin: auto;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.btnMain:hover{
    background-color: var(--primary-color);
    color: white;
}

.btnDiv{
   text-align: center;
}

/*Projects Page*/
.topBtn{
    position: fixed;
    display: inline-block;
    bottom: 3rem;
    right: 3rem;
}
.projects{
    transition: 0.2s ease-in;
    max-width: 44%;
    margin:  1rem auto;
    text-align: center;
    font-size: 1.2rem;
}
.projectImg{
    width: 100%;
    max-width: 24rem;
    height: 16rem;
    margin: auto;
}
   
.projectLinks{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Blogs Page */
.blogs{
    max-width: 44%;
    margin:  1rem auto;
    text-align: center;
    font-size: 1.2rem;
    background-color: var(--primary-light-color) ;
    padding: 1rem;
    border-radius: 0.5rem;
}
.blogs-ow{
    max-width: 44%;
    margin:  1rem auto;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.btnBlogs{
    border: 0.2rem solid var(--primary-color);
    width: 5rem;
    font-size: 1.1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    transition: 0.3s;
    color: var(--primary-color);
}
.btnBlogs:hover{
    background-color: var(--primary-color);
    color: white;
}
/* Responsive */
@media (max-width: 350px){
    .social-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 390px){
    .nav-pills{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 500px){
    .topBtn{
        bottom: 0.5rem;
        right: 0.5rem;
    }
}